<h1>{{title}}</h1>
<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th width="2%">#</th>
            <th width="49%">Nome</th>
            <th width="49%">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pessoa in pessoas | orderBy: 'nome'">
            <td>
                <a href="#/pessoas/{{pessoa._id}}" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
            <td>{{ pessoa.nome | uppercase }}</td>
            <td>{{ pessoa.email | lowercase }}</td>
        </tr>
        <tr ng-show="pessoas.length == 0">
            <td colspan="4">
                <span>Nenhum registro encontrado!</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-primary" href="#/pessoas/novo">Novo</a>